.heading
{
    font-size:22px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    width:96%;
    height:21%;
    margin:0px;
    box-shadow:5px 5px 5px rgb(181, 252, 123);
}

.note
{
    font-size:15px;
    color:rgb(255, 243, 176);
    font-family:cursive;
    font-style:italic;
}

.copy_right_footer
{
    position:fixed;
    color:rgb(255, 172, 227);
    bottom:0;
    font-size:15px;
    width:100%;
    background-color:rgb(191, 154, 250);
    line-height:3;
    text-align:center;
    font-style:italic;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
}
body
{
    background-size:cover;
    background-position:center;
}